.button{
    border: none;
    padding: 1rem;
    width: 100%;
    background-color: var(--color-accent);
    border-radius: .3rem;
    color: white;
    box-shadow: var(--shadow-button);
    transition: all .3s;
    font-style: inherit;
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: var(--shadow-button-hover);
    }
    &:active {
        transform: translateY(-.1rem);
    }
}