@keyframes appear {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.2);

  }
  75%{
transform: scale(.8);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.card {
  animation: appear .6s backwards;
  margin: 7rem auto;
  max-width: 39.6875rem;
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: repeat(2, min-content);
  background-color: white;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: var(--shadow-card);
  @media only screen and (max-width:650px) {
    margin: 4rem auto;
    display: block;
    width: 19.375rem;
    animation: fade-in 1s backwards;
  }
  &__intro {
      padding: 2.5rem;
    grid-column: span 2;
    @media only screen and (max-width:650px) {
      padding: 1.5625rem;

    }
  }
  &__heading {
    &--1 {
      margin: 0;
      color: var(--color-primary);
      font-size: 1.6rem;
      @media only screen and (max-width:650px) {
        font-size: 1.2rem;

      }
    }
    &--2 {
      font-size: 1.2rem;
      color: var(--color-accent);
      @media only screen and (max-width:650px) {
        font-size: .9rem;
      }
    }
  }
  &__text {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-grey);
    @media only screen and (max-width:650px) {
     line-height: 2;
     font-size: .8rem;   
    }
  }
}
.subcard {
    padding: 2.5rem;
    color: white;
    @media only screen and (max-width:650px) {
     padding: 1.5625rem; 
    }
  &--1 {
    background-color: var(--color-primary);
}

&--2 {
    background-color: var(--color-primary-light);
    
  }

  &__heading {
    &--1 {
        margin: 0;
        @media only screen and (max-width:650px) {
          font-size: 1rem;
        }
    }
  }
  &__row{
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 1.5rem;
    @media only screen and (max-width:650px) {
      height: 1.2rem;
        
    }
  }
  &__price {
    font-size: 2.3rem;
    margin-right: .8rem;
    font-weight: 700;
    @media only screen and (max-width:650px) {
      font-size: 1.8rem;   
      margin-right: .7rem;
    }
}
&__per {
    font-size: 1rem;
    color: var(--color-grey-lighter);
    @media only screen and (max-width:650px) {
      font-size: .9rem;
    }
}
&__text {
    margin-bottom: 2rem;
    color: var(--color-grey-light);
    @media only screen and (max-width:650px) {
     font-size: .9rem;   
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    &-item {
        color: var(--color-grey-light);
        line-height: 1.5;
        font-size:.9rem;
        @media only screen and (max-width:650px) {
          font-size:.8rem;
      
        }
    }
  }
}
