:root {
// // Colors

// Primary

--color-primary-dark: hsl(178, 63%, 35%);
--color-primary: hsl(179, 62%, 43%);
--color-primary-light: hsla(179, 62%, 43%, 0.8);
--color-accent: hsl(71, 73%, 54%);

// Neutral

--color-grey-lighter: hsla(203, 44%, 93%, 0.513);
--color-grey-light: hsl(204, 43%, 93%);
--color-grey: hsl(218, 22%, 67%);

// // Shadows
--shadow-card: 0 1rem 2rem  var(--color-grey);
--shadow-button: 0 .4rem 1rem  var(--color-primary-dark);
--shadow-button-hover: 0 .4rem 1.2rem  var(--color-primary-dark);


}
body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: var(--color-grey-light);
}
